<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required>
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location (ex. Atlanta, GA)</label>
        <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" required>
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <!-- <div class="mb-3">
          <label class="form-label" for="state">Select State</label>
          <select name="campground[state]" id="state" required>
            <%  for (state in usStates) { %>
              <option value="<%= usStates[state] %>"><%= usStates[state] %></option>
            <% } %>
          </select>
          <div class="valid-feedback">Looks Good!</div>
        </div> -->
        
      <div class="mb-3">
          <label class="form-label" for="state">Select State</label>
          <select name="campground[state]" id="state" required>
            <option value="<%= campground.state %>"><%= campground.state %></option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
          </select>
          <div class="valid-feedback">Looks Good!</div>
        </div>

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>" required>
        </div>
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= campground.description %></textarea>
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3 form-file custom-file">
        <label for="image" name=""image class="form-label">
          <span class="form-file-text custom-file-label">Add more images</span>
          </label>
        <input class="form-control" name="image" type="file" id="formFileMultiple" multiple>
      </div>

      <div class="mb-3">
        <% campground.images.forEach(function(img, idx) { %> 
          <img src="<%= img.thumbnail  %>" class="img-thumbnail" alt="" crossorigin>
          <div class="form-check-inline">
            <input type="checkbox" id="image-<%= idx %>" name="deleteImages[]" value="<%= img.filename %>">
          </div>
          <label for="image-<%= idx %>">Delete?</label>
        <% }) %> 
      </div>

      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
  </div>
</div>